*{
    margin: 0;
}
@font-face {
    font-family: inria-sans;
    src: url(inria-sans/InriaSans-Bold.ttf);
}

body{
    font-family: inria-sans;
    
}

.encabezado{    
    color: white;
    display: flex;  
    align-items: center;       
}

.fondo{
    background-image: linear-gradient(to left, #05372a, #004550, #004f97, #0051dc, #121deb);
}

      

        /*paginas*/

@keyframes texto{
    from{ transform: translateY(-100px)
}
to{transform: translateY(0)}
}
.tituloAnimado{
    animation-name: texto;
    animation-duration: 1s;
    
}

.icono{
    font-size: 30px;
    color: white;
}
       